body{
  background-image: url('../img/rojo.jpg');
  background-attachment: fixed;
}

#logo{
  background: #ca3413;
}

#menu ul li:hover{
  background: #ca3413;
}

.button-more{
  background:#ca3413;
}

.ui-state-active, .ui-widget-content 
.ui-state-active, .ui-widget-header 
.ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #ca3413 !important;
  background: #ca3413 !important;
}

#reloj{
  color: #ca3413;
  border: 5px dashed #ca3413;
}
